
body {
    background: #f2f2f2;
    font-family: "Melvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4 {
    font-family: Georgia, serif;
    font-weight: normal;
}
h1,h2 {
    text-transform: uppercase;
}
P {
    margin: 0 0 10px;
}
#container {
    width: 900px;
    max-width: 100%;
    margin: 50px auto;
    background: white;
    border: 1px solid #ddd;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#main {
    margin-right: 250px;
}
#main > div {
    padding: 0 40px 20px;
}
#main a {
    color: #3778b3;
    text-decoration: none;
}
#main a:hover {
    text-decoration: underline;
}

.colored_bg {
    background:#3778b3;
    color: white;
    padding: 20px;
    text-align: center;
}

#header h2 {
    padding: 10px;
    margin: 0;
}

#contact_info {
    position: absolute;
    top: 0;
    right: 0;
    width: 190px;
    list-style-type: none;
    text-align: right;
    z-index: 1;
}

#contact_info a {
    color: white;
}

#projects h2 {
    font-size: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
dt {
    font-weight: bold;
}
#experience h2 {
    padding:10px;
}
#experience h3 {
    margin-bottom: 0;
}
.timespan {
    float: right;
}
#general {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 230px;
    padding: 170px 10px 40 px;
    text-align: left;
}
#general > div {
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid white;
}
#general h2 {
    margin: 0;
    font-size: 16px;
}
#general h3 {
    margin: 0;
    font-style: italic;
}
#genral a {
    color: white
}
#general a:hover {
    text-decoration: none;
}
#general p {
    margin: 0;
}
.degree {
    padding: 10 px 0;
}
.skills ul {
    padding-left: 15 px;
}
.skills li {
    margin: 0 0 5px;
}